/*
 @nom: marigolds-golden.css
 @auteur: Forty-Six
 @description: Stylesheet for the Cobalt74's "CSS Leed Maker" Plugin
*/

body {
	background-color: #222;
}

h1, h2, h3 { color: #CFB53B }

#header-container{
	border-bottom: 5px solid #B1983B;
}
#footer-container{
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top: 5px solid #B1983B;
}
#main { color: #AAA; }

#main aside {
	border-top: 5px solid #B1983B;
}

nav a{
	border-bottom: 5px solid #B1983B;
	background: #B1983B;
}

nav a:hover{
	border-bottom: 5px solid #CFB53B;
}
	
#header-container {
	border-bottom: 5px solid #B1983B;
}


::-moz-selection {
	background: #B1983B;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #B1983B;
	color: #fff;
	text-shadow: none;
}

code {
	background-color: #B1983B;
	color: #FFFFFF;
}

#main button, .loginBloc button,.button,.readUnreadButton {
	background-color: #B1983B;
}

#main aside a.unreadForFolder,#main aside a.readFolder {
	background-color: #B1983B;
}

#main article div.articleContent .enclosure {
	color: #B1983B;
}
#main article div.articleContent .enclosure h1 {
	color: #CFB53B;
}

#main article div.articleContent .enclosure a {	
	color: #B1983B;
}

#main article section.eventSelected, .settings article > section {
	border-top: 3px solid #B1983B;
}

#main article section a, #main article a {
	color: #B1983B;
}

#main article section.eventHightLighted h2.articleTitle a, #main article section h2.articleTitle a {
	color: #aaaaaa;
}

#main article section.eventHightLighted h2.articleTitle a:hover, #main article section h2.articleTitle a:hover {
	color: #CFB53B;
}
.preferenceBloc h3 { color: #B1983B; }
 
#main article div.articleContent {
    margin: 10px 0px 0px 0px;
    color: #AAA;
}

#main article section a:hover, #main article a:hover {
    color: #CFB53B;
}

#main article a.goTopButton {
    background-color: #B1983B;
}

#main article header.articleHead {
    background-color: #464646;
}

#main button, .loginBloc button, .button, .readUnreadButton {
	background-color: #B1983B;
}
.manageBloc {
	border: solid 3px #B1983B;
}

#main article section.eventSelected, .settings article > section {
    border-top: 3px solid #B1983B;
    color: #AAA;
}

#main article section.eventHightLighted {
	color: #AAAAAA;
	background-color: #333;

}

#main article section.eventRead, #main article section.eventHightLighted.eventRead {
    background-color: #333;
}

.underlink { color: #AAA; }

.sync a {
	color: #B1983B;
}

.social_group {
	background-color: #B1983B;
}
.social_gdiv {
	background-color: #B1983B;
}
.fleaditLaterButton {
	background-color: #B1983B;
}

.FS_toggleEventContent_Button {
	background-color: #B1983B;
}

.FS_toggleEventContent_Button:hover {
	background-color: #CFB53B;
}

.cacheListFeed_divbut, #cacheListFeed_divbut_return {
	cursor:pointer;
}
