.social_group {
    background-color: #F16529;
    border: 0 none;
    border-radius: 30px 30px 30px 30px;
    padding: 3px 8px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    padding-left: 5px;
	float: right;
	position: relative;
}

.social_divbut {
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
}

.social_gdiv {
    display: none;
    padding: 0px;
    margin:0px;
    position: absolute;
    background-color: #F16529;
    border: 0 none;
    border-radius: 30px 30px 30px 30px;
    padding: 0px 9px;
    border-radius: 5px 5px 5px 5px;
}

.social_div {
	color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px 5px 5px 5px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 5px;
    float: left;
}
